<!-- Config file for the game -->

<config>
  <app>
    <title>Music Arrow</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="0.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <vars>
      <speed speedX="8" speedY="0"></speed>
      <myGravity value="1"></myGravity>
    </vars>
    <fxsound>
      <jump source="audio/fx/jump.wav"></jump>
      <dash source="audio/fx/dash.wav"></dash>
      <bump source="audio/fx/bump.wav"></bump>
      <dead source="audio/fx/dead.wav"></dead>
      <finishdead source="audio/fx/finishdead.wav"></finishdead>
      <stageclear source="audio/fx/stageclear.wav"></stageclear>
    </fxsound>
    <playercontrols>
      <moveleft input="SDL_SCANCODE_A"></moveleft>
      <moveright input="SDL_SCANCODE_D"></moveright>
      <jump input="SDL_SCANCODE_SPACE"></jump>
      <dash input="SDL_SCANCODE_J"></dash>
      <specialmove input="SDL_SCANCODE_K"></specialmove>
    </playercontrols>
    <cameracontrols>
      <moveleft input="SDL_SCANCODE_LEFT"></moveleft>
      <moveright input="SDL_SCANCODE_RIGHT"></moveright>
      <moveup input="SDL_SCANCODE_UP"></moveup>
      <movedown input="SDL_SCANCODE_DOWN"></movedown>
    </cameracontrols>
  </player>
  <scene>
    <bgmusic>
      <level1 source="audio/music/musicstage1.wav"></level1>
      <level2 source="audio/music/musicstage2.wav"></level2>
    </bgmusic>
  </scene>

</config>