<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Music Arrow</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="0.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entities>
    <player>
      <vars>
        <speed speedX="470" speedY="0"></speed>
        <myGravity value="63"></myGravity>
      </vars>
      <fxsound>
        <jump source="audio/fx/jump.wav"></jump> 
        <dash source="audio/fx/dash.wav"></dash> 
        <bump source="audio/fx/bump.wav"></bump> 
        <dead source="audio/fx/dead.wav"></dead> 
        <finishdead source="audio/fx/finishdead.wav"></finishdead> 
        <stageclear source="audio/fx/stageclear.wav"></stageclear>
      </fxsound>
      <playercontrols>
        <moveleft input="4"></moveleft> 
        <moveright input="7"></moveright>
        <moverup input="26"></moverup>
        <movedown input="22"></movedown>
        <jump input="44"></jump> 
        <dash input="13"></dash> 
        <specialmove input="14"></specialmove> 
      </playercontrols>
      <cameracontrols>
        <moveleft input="80"></moveleft> 
        <moveright input="79"></moveright>
        <moveup input="82"></moveup> 
        <movedown input="81"></movedown> 
      </cameracontrols>
    </player>
  </entities>
</config>
